<section id="sec-blog">


<div class="container px-3">
    <h2 class="display-4">Blog</h2> 

    <!-- Display message only if redirected from subscribe form -->
    <% if (error && error.length > 0) {%>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if (success && success.length > 0) {%>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>
    


  <div class="scrolling-wrapper-flexbox">
  <!-- Loop through array, newest posts first -->
  <% for(var i=posts.length - 1; i >= 0;i--) { %>
  <% var post = posts[i]; %>

      <div class="post-preview clickable" data-location="/blog/<%= post.id() %>">

        <!-- image  -->
        <div class="img-prev">
          <img src="<%= post.img %>">
        </div>

        <!-- text -->
        <div class="pt-3 px-3">
          <h4 class="mb-1"><%= post.title %></h4>
          <h6 class="mb-3 text-muted"><%= post.subtitle %></h6>
          <p class="mb-0"><small class="text-muted">
            <%= post.date %> &nbsp;&middot;&nbsp; 
            <%= post.time %> min read</small>
          </p>

          <p style="text-align: justify;">
            <%- post.content.substring(0,140) %>...
            <span class="text-secondary">
            read more <i class="fas fa-angle-double-right fa-xs pr-1"></i>
            </span>
          </p>
        </div>

      </div><!--  ./post-preview -->
  <% }; %> <!-- end post loop -->
  </div>
</div>


</section>
