<% include ./partials/header %>

<div class="post"">
<div class="container pb-1" style="padding-top: 80px; max-width: 700px;">
 
  <% include ./partials/blog-page-nav %> 

  <hr class="mt-0 mb-5">


  <div class="post-header">
    <div class="timestamp text-muted">
      <%= post.date %> 
      &nbsp;&middot;&nbsp; 
      <%= post.time %>  min read
    </div>

    <h2><%= post.title %> </h2>

    <h4 class="text-muted"><%= post.subtitle %></h4>
  </div>

  <div class="post-body mb-5">       
    <%- post.content %> 
  </div>

  <% include ./partials/blog-page-nav %>
  <% include ./partials/newsletter %>

</div>
</div>

<% include ./partials/footer %>










